.groupTagContainer {
  display: flex !important;
  align-items: center !important;
  font-family: 'Nunito' !important;
  margin-right: 10px !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  font-size: 12px !important;
  padding: 3px 5px !important;
  border-radius: 2px !important;
  font-family: 'Nunito' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  width: fit-content !important;
  max-width: 100px !important;
  height: 20px !important;
  overflow-y: clip !important;
  overflow-x: auto !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  text-align: center !important;
  flex-shrink: 0 !important;
  box-sizing: border-box !important;
  font-feature-settings: 'kern', 'liga', 'clig', 'calt' !important;
  font-kerning: normal !important;
  font-stretch: 100% !important;
  font-style: normal !important;
  font-variant-caps: normal !important;
  font-variant-east-asian: normal !important;
  font-variant-ligatures: normal !important;
  font-variant-numeric: normal !important;
  text-decoration: none !important;
  text-decoration-thickness: auto !important;
  text-size-adjust: 100% !important;
  overflow-wrap: break-word !important;
}

.groupTagContainer::-webkit-scrollbar {
  height: 0px !important;
}

.groupTagText {
  font-size: 12px !important;
  font-family: 'Nunito' !important;
  font-style: normal !important;
}
